<div class="container">
	<div class="row">
		<div class="col-md-3">
				<label for="startTime">opna</label>
				<input type="datetime-local" ng-model="times.startTime" id="startTime" />
		</div>
		<div class="col-md-3">
			<label for="endTime">loka</label>
			<input type="datetime-local" ng-model="times.endTime" id="endTime" />
		</div>
<!-- fengum þetta ekki til að virka
	<div class='col-md-7'>
		<div class="form-group">
			<div class='input-group date' id='datetimepicker6'>
				<input type='text' class="form-control" placeholder="byrjunartími" ng-model="times.startTime" required/>
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>
	<div class='col-md-7'>
		<div class="form-group">
			<div class='input-group date' id='datetimepicker7'>
				<input type='text' class="form-control" placeholder="endatími" ng-model="times.endTime" required/>
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div> -->
		<div class="btn-group col-md-6">
	        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">{{message}}<span class="caret"></span></button>
	        <ul class="dropdown-menu">
	        	<div class="templateList">
					<li ng-repeat="template in templates">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="evalList col-md-11" ng-click="setTemplate(template.ID, template.Title)">
								{{template.ID}}: {{template.Title}}
							</div>
						</div>
					</li>
				</div>
	        </ul>
	    </div>
	</div>
	<div>
		<div class="btn" ng-click="submitEval()"> 
			leggja fyrir 
		</div>
	</div>
	<div>
		<div class="btn" ng-click="back()">
			bakka
		</div>
	</div>
</div>





<script type="text/javascript">
	$(function () {
		$('#datetimepicker6').datetimepicker();
		$('#datetimepicker7').datetimepicker();
		$("#datetimepicker6").on("dp.change",function (e) {
			$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
		});
		$("#datetimepicker7").on("dp.change",function (e) {
			$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
		});
	});
</script>