<div class="container">
	<div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4 btn btn-lg btn-primary dropdown">
	        <div class="dropdown-toggle-right " id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
	        Búa til mat
	        <span class="caret"></span>
	        </div>
	        <ul class="dropdown-menu rightMenu multi-level" role="menu" aria-labelledby="dropdownMenu1">
	            <li class="dropdown-submenu" role="presentation">
	                <div class="btn btn-lg btn-primary " role="menuitem" tabindex="-1" ng-click="createTemplate()">Gera nýtt mat</div>
	            </li>
	            <li class="dropdown-submenu" role="presentation">
	                <div class="btn btn-lg btn-primary" role="menuitem" ng-click="getTemplateList()">Nota template</div>
	            </li>
	        </ul>
	    </div>
	    <div class="col-md-4"></div>
	</div>
	<div class="row">
	    <div class="col-md-4"></div>
	        <div class="btn btn-lg btn-primary col-md-4" href="#"> 
	            Skoða lokin möt
	        </div>
	    <div class="col-md-4"></div>
	</div>
</div>
