<div class="container">
	<div class="btn-group-vertical">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Möt <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                	<div class="btn btn-lg btn-primary" ng-click="getEvaluations()">Skoða Möt</div>
                </li>
                <li>
                	<div class="btn btn-lg btn-primary " ng-click="newEvaluation()">Gera nýtt mat</div>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Template <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                	<div class="btn" ng-click="getTemplateList()">Skoða Template</div>
                </li>
                <li>
                	<div class="btn" ng-click="createTemplate()">Gera nýtt template</div>
                </li>
            </ul>
        </div>
    </div>
</div>




<!-- <div class="container">
	<div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4 btn btn-lg btn-primary dropdown">
	        <div class="dropdown-toggle-right " id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
	        Búa til mat
	        <span class="caret"></span>
	        </div>
	        <ul class="dropdown-menu rightMenu multi-level" role="menu" aria-labelledby="dropdownMenu1">
	            <li class="dropdown-submenu" role="presentation">
	                <div class="btn btn-lg btn-primary " role="menuitem" tabindex="-1" ng-click="createTemplate()">Gera nýtt template</div>
	            </li>
	            <li class="dropdown-submenu" role="presentation">
	                <div class="btn btn-lg btn-primary" role="menuitem" ng-click="getTemplateList()">Skoða Template</div>
	            </li>
	        </ul>
	    </div>
	    <div class="col-md-4"></div>
	</div>
	<div class="row">
	    <div class="col-md-4"></div>
	        <div class="btn btn-lg btn-primary col-md-4" href="#"> 
	            Skoða lokin möt
	        </div>
	    <div class="col-md-4"></div>
	</div>
</div> -->
