<div class="container">
	<div class="panel panel-primary">
        <div class="panel-heading">
           	Búið að meta
       	</div>
        <div class="evaluations" scroll-glue>
       		<div class="panel-body">
				<ul>
					<li ng-repeat="evalObj in evalList">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="evalList list-group-item col-md-8" ng-click="useTemplate(evalObj)">
								Title: {{evalObj.TemplateTitle}} Startdate: {{evalObj.StartDate}} Enddate: {{evalObj.StartDate}}  
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
