<form>
	<hr>
	<h3>{{cQ.Text}}</h3>
	<div class="btn-group" data-toggle="buttons">
	    <form>
	        <div ng-repeat="AcQ in cQ.Answers">
	        	<label class="btn btn-primary">
					<input type="radio" name="singleAnswer" value="AcQ.Weight">{{AcQ.Text}}</input>
				</label>	
				<!--<label for="TextEN[{{AtQ.ID}}]">answer</label>
				{{AtQ.TextEN}}

				<label for="Url[{{AtQ.ID}}]">Image URL</label>
				<input type="text" name="Url[{{AtQ.ID}}]" ng-model="Url[AtQ.ID]" value="{{AtQ.ImageURL}}" paceholder="{{AtQ.ImageURL}}" />
				<label for="Weight[{{AtQ.ID}}]">Weight value 1 - 5</label>
				<input type="text" name="Weight[{{AtQ.ID}}]" ng-model="Weight[AtQ.ID]" value="{{AtQ.Weight}}" paceholder="{{AtQ.Weight}}" />-->
	        </div>
	    </form>
	</div>
	<input type="submit" />
</form>