<div ng-controller="loginController">   
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4">
                <div class="image">
                    <img class="profile-img" src="https://myschool.ru.is/myschool2/Public/images/App_logo.jpg"
                        alt="">
                    </img>
                </div>
                <div class="col-md-12">
                    <form class="form-signin">
        	            <input type="text" class="form-control" ng-model="user" placeholder="Username" required autofocus>
        	            <input type="password" class="form-control" ng-model="pass" placeholder="Password" required>
        	            <input class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit" value="Innskrá">
        	            </input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>