
<hr>
<!--Spurning-->
<h3>{{quest.Text}}</h3>
<p>Multiple choice</p>
<div class="btn-group" data-toggle="buttons">
    <div ng-repeat="AtQ in quest.Answers">
		<!--svör-->
		<label class="btn btn-primary">
			<input type="checkbox">{{AtQ.Text}}
		</label>
		<!--<label for="TextEN[{{AtQ.ID}}]">answer</label>
		{{AtQ.TextEN}}
		<label for="Url[{{AtQ.ID}}]">Image URL</label>
		<input type="text" name="Url[{{AtQ.ID}}]" ng-model="Url[AtQ.ID]" value="{{AtQ.ImageURL}}" paceholder="{{AtQ.ImageURL}}" />
		<label for="Weight[{{AtQ.ID}}]">Weight value 1 - 5</label>
		<input type="text" name="Weight[{{AtQ.ID}}]" ng-model="Weight[AtQ.ID]" value="{{AtQ.Weight}}" paceholder="{{AtQ.Weight}}" />-->
    </div>
</div>
