<div class="container">
	<div ng-repeat="quest in teacherQuestions track by $index">
		<div question>
			<form>
				<div ng-if="quest.Type == 'multiple'">
					<div t-multi-question></div>
				</div>
			</form>
			<form>
				<div ng-if="quest.Type == 'single'">
					<div t-single-question></div>
				</div>
			</form>
			<form>
				<div ng-if="quest.Type == 'text'">
					<div t-text-question></div>
				</div>
			</form>
		</div>
	</div>	
	<div ng-repeat="quest in courseQuestions track by $index">
		<div question>
			<form>
				<div ng-if="quest.Type == 'multiple'">
					<div t-multi-question></div>
				</div>
			</form>
			<form>
				<div ng-if="quest.Type == 'single'">
					<div t-single-question></div>
				</div>
			</form>
			<form>
				<div ng-if="quest.Type == 'text'">
					<div t-text-question></div>
				</div>
			</form>
		</div>
	</div>
</div>