<form>
	<hr>
	<h3>{{tT.FullName}}</h3>
	<h4>{{tQ.Text}}</h4>
	<h4>{{tQ.TextEN}}</h4>
	<p>Multiple choice</p>
	<div class="btn-group" data-toggle="buttons">
	    <div ng-repeat="AtQ in tQ.Answers">
			<label class="btn btn-primary">
				<input type="checkbox" value="{{AtQ.Weight}}">{{AtQ.Text}}</input>
			</label>
			<label class="btn btn-primary">
				<input type="checkbox"  value="{{AtQ.Weight}}">{{AtQ.TextEN}}</input>
			</label>
	    </div>
	</div>
	<input type="submit" ng-click="submitQuestion({{AtQ}}, {{tT.SSN}}, {{tQ.ID}})" value="Skila"/>
</form>
