body {
    padding-top: 100px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image {
    padding-left: 60px;
    padding-bottom: 30px;
}

.btn {
	margin-top: 5px;
}

.evalList {
	margin-top: 3px;
	margin-bottom: 3px;
}

.evalList:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.choices {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 6px;
}

.choices:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.logout:hover {
	cursor: pointer;
}

li.no-evalObj {
    display: block;
}

li + li.no-evalObj {
    display: none;
}

li {
	list-style: none;
}

.templateList {
	float: left;
	width: 200px;
	height: 300px;
	overflow: auto;
	-webkit-overflow: auto;
	overflow-x:hidden;
	border-bottom-right-radius: 0.8%;
	border-bottom-left-radius: 0.8%;  
}

/******************************
-*  fengið af stack overflow   *
-*  notað til að gera submenu  *
-*  í dropdown lista           *
-*******************************/
-
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.panel-primary > .panel-heading {
	text-align: center;
}

.evaluations {
	overflow: auto;
	height: 500px;
}

