body {
    padding-top: 100px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image {
    padding-left: 60px;
    padding-bottom: 30px;
}

.btn {
	margin-top: 5px;
	background-color: red;
}

.btn:hover {
	background-color: #D81920;
}

.evalList {
	margin-top: 3px;
	margin-bottom: 3px;
}

.evalList:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.logout:hover {
	cursor: pointer;
}

li.no-evalObj {
    display: block;
}

li + li.no-evalObj {
    display: none;
}

li {
	list-style: none;
}

.templateList {
	float: left;
	width: 200px;
	height: 300px;
	overflow: auto;
	-webkit-overflow: auto;
	overflow-x:hidden;
	border-bottom-right-radius: 0.8%;
	border-bottom-left-radius: 0.8%;  
}

